<div class="home-body">
<div class="profile-img-cont text-center pt-4">
<div class="profile-picture mx-auto border border-1 rounded">
<img src="" alt="user-img" class="img-fluid" >

</div>
<small class="pt-5" > Username </small>
</div>

<ul class="nav d-flex flex-column pt-4  container">
<li class="nav-item pb-2">
    <i class="bi bi-bookshelf fs-3 rounded-circle p-2 border border-1"></i>
    <%= link_to "Sign in", new_user_session_path, class:"ps-2 text-white" %>
    <p class="ms-5 border-bottom pt-2"></p>
 </li>
<li class="nav-item pb-2">
    <i class="bi bi-bookshelf fs-3 rounded-circle p-2 border border-1"></i>
    <%= link_to "Sign out", destroy_user_session_path, class:"ps-2 text-white" %>
    <p class="ms-5 border-bottom pt-2"></p>
 </li>
<li class=""> 
    <i class="bi bi-bookshelf fs-3 rounded-circle p-2 border border-1"></i>
    <a href="" class="text-white"> Book Shelf</a>
    <p class="ms-5 border-bottom pt-2"></p>
 </li>
</ul>







</div>