/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(241, 241, 241);
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.nav-bar {
  background-attachment: fixed;
  background-color: #2d639f;
  background-image: linear-gradient( 45deg, #3678c2, #2d639f);
  color: #fff;
  align-items: center;
  width: 100%; 
}

.nav-icon {
  font-size: 30px;
  cursor: pointer;
}

form {
  display: inline;
}

.home-body {
  background-attachment: fixed;
  background-color: #2d639f;
  background-image: linear-gradient(45deg, #3678c2, #2d639f);
  color: #fff;
  height: 100vh;
}

.profile-picture {
  width: 200px;
  height: 200px;
}

.item-icon {
  width: 120px;
  height: 120px;
}

a {
  text-decoration: none;
}

.btn-custom {
  background: #3678c2;
  color: #fff;
}

.btn-custom:active {
  background: #2d639f;
  color: #fff;
}
